# Node server port number
PORT=8080

# Frontend Site URL
SITE_URL=http://localhost:5173

# URL of the DB
DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/test

# Google Credentials
GOOGLE_CLIENT_ID=
GOOGLE_RECAPTCHA_KEY=
GOOGLE_RECAPTCHA_SECRET=


# Email configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

DEFAULT_EMAIL_FROM_NAME="Angular Minds"
DEFAULT_EMAIL_FROM_EMAIL=no-reply@angularminds.com


# JWT Configuration

# JWT secret key
JWT_SECRET=P7urehqhHsL6k8AWZGRabaj3jo
# Number of minutes after which an access token expires default 1440 minutes i.e. 24 hours
JWT_ACCESS_EXPIRATION_MINUTES=1440
JWT_REFRESH_EXPIRATION_MINUTES=7200

# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=60
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=60
# Number of minutes after which a user invite token expires
JWT_INVITE_USER_EXPIRATION_MINUTES=1440